.blog-body
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vw 12vw 3vw 12vw;
    margin-bottom: 6vw;
}
.blog-heading-section
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.blog-heading-clickables
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#blog-section-heading
{
    font-size: 0.8vw;
    font-family: "jost";
    font-weight: 600;
    text-transform: uppercase;
    color: #2D83EE;
    letter-spacing: 0.1vw;
}
#blog-section-heading-text
{    
    font-weight: 600;
    font-family: "jost";
    text-transform: capitalize;
    font-size: 1.8vw;
}

#blog-link-button
{
    border: none;
    font-family: "jost";
    color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    background: rgb(113,132,253);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.16);
background: linear-gradient(90deg, rgba(113,132,253,1) 0%, rgba(79,55,238,1) 100%);
}
.blog-cards
{
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
.card-content
{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    gap:1vw
}
#blog-title
{
    color: #2D83EE;
    font-weight: 600;
    font-size: 1vw;
    font-family: "jost";
    padding-right: 8vw;
}
#blog-time
{
    color: #391400;
    font-family: "jost";
    font-size: 0.8vw;
}
#blog-content
{
    color: #391400;
    font-family: "jost";
    font-size: 0.8vw;
    font-weight: 400;
    word-spacing: 0.2vw;
}